<div class="d-flex container-fluid m-0 p-0 sidebar">
  <div class="row flex-nowrap green d-flex flex-column flex-shrink-0  m-0 p-0" style="width: 200px">
    <div class="image-container">
      <a href="*" class="d-flex align-items-center justify-content-center"><img class="logo"
          src="assets/img/green-logo.png" alt="La Nimes Alerie" />
      </a>
    </div>
    <h1 style="display: none">La Nîmes'alerie Dashboard</h1>
    <h2>dashboard</h2>
    <ul class="nav nav-pills flex-column mb-auto">

      <li>
        <a href="*" class="nav-link link-light "><strong>Commandes</strong></a>
      </li>
      <li>
        <a href="*" class="nav-link link-light"><strong>Produits</strong></a>
      </li>
      <li>
        <a href="*" class="nav-link link-light"><strong>Clients</strong></a>
      </li>

    </ul>

  </div>

  <div class="w-100">
    <router-outlet></router-outlet>
  </div>
</div>
